html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
  padding: 60px 0;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1400px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-2-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  max-width: 24%;
}

.c-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-2-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
    max-width: 24%;
  }
  .m-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-2-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .l-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wide .l-0 {
    display: none;
  }
  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }
  .wide .l-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .l-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .l-2-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .wide .l-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .l-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .l-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .l-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .l-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .l-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .l-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .l-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .l-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .l-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .l-o-3 {
    margin-left: 25%;
  }
  .wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .l-o-6 {
    margin-left: 50%;
  }
  .wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .l-o-9 {
    margin-left: 75%;
  }
  .wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
  display: block;
}

.owl-theme .owl-nav [class*=owl-] {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: #FAD20B;
  color: #67758D;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  color: #67758D;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-carousel .owl-nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.5rem;
  line-height: 50px;
  text-align: center;
}

.owl-carousel .owl-nav button.owl-next {
  right: -60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#header {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.header {
  height: 65px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-logo {
  margin-right: 8px;
}

.header__nav-logo img {
  height: 40px;
}

.header__nav-list .header__nav-item {
  display: inline;
  padding: 24px 16px;
}

.header__nav-list .header__nav-item .header__nav-link {
  font-size: 1.5rem;
  color: #363636;
  font-weight: 600;
  top: 0;
  position: relative;
}

.header__nav-list .header__nav-item .header__nav-link:hover {
  top: -1px;
}

.header__nav-list .header__nav-active {
  border-top: 4px solid #FAD20B;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right-search {
  position: relative;
}

.header__right-search .header__right-input {
  width: 300px;
  height: 40px;
  border-radius: 30px;
  background-color: #EAF0F7;
  border: none;
  outline: 0;
  padding: 0 20px;
  font-size: 1.4rem;
  position: relative;
  z-index: 2;
}

.header__right-search .header__right-input:focus ~ .header__right-search-suggest {
  display: block;
}

.header__right-search .header__right-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(27, 27, 27, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.header__right-search .header__right-search-suggest {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  padding: 20px;
  top: 26px;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.header__right-search .header__right-search-suggest .search__suggest-heading {
  font-size: 1.4rem;
  margin: 4px 0;
  color: #67758D;
}

.header__right-search .header__right-search-suggest .search__suggest-list .search__suggest-item {
  display: inline-block;
  margin: 4px;
}

.header__right-search .header__right-search-suggest .search__suggest-list .search__suggest-item .search__suggest-link {
  font-size: 1.3rem;
  color: #67758D;
  background: #F6F9FC;
  border: 1px solid #EAF0F7;
  padding: 1px 4px;
}

.header__right-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 32px;
  padding: 0 8px;
  margin: 0 12px 0 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__right-lang .header__right-iconLang {
  border-radius: 50%;
  width: 20px;
}

.header__right-lang .header__right-langText {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 12px;
}

.header__right-lang .header__right-langIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.5);
}

.header__right-login {
  font-size: 1.5rem;
  margin-right: 12px;
  font-weight: 600;
  color: #363636;
}

.header__right-login:hover {
  text-decoration: underline;
}

.footer__content {
  padding: 60px 0;
}

.footer__content-item .footer__content-heading {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.footer__content-item .footer__nav-list {
  list-style: none;
}

.footer__content-item .footer__nav-item {
  padding: 8px 0;
}

.footer__content-item .footer__nav-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  color: #67758D;
  font-weight: 500;
}

.footer__content-item .footer__nav-img {
  width: 24px;
  margin-right: 12px;
}

.footer .footer__copyright {
  font-size: 1.4rem;
  color: #67758D;
  text-align: center;
  padding: 24px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.recommended {
  background: url("../../assets/img/topic-recommend-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}

.recommended__content {
  text-align: center;
}

.recommended__content-heading {
  color: #fff;
  font-size: 4rem;
}

.recommended__content-text {
  color: #fff;
  font-size: 1.6rem;
}

.recommended__list .recommended__item {
  background: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  position: relative;
}

.recommended__list .recommended__item:hover::after {
  width: 90%;
}

.recommended__list .recommended__item::after {
  content: "";
  width: 0;
  height: 4px;
  background: #FAD20B;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 16px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.recommended__list .recommended__item:hover .recommended__item-text {
  left: 4px;
}

.recommended__list .recommended__item-text {
  text-align: left;
  position: relative;
  left: 0;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

.recommended__list .recommended__item-text .recommended__item-heding {
  font-size: 16px;
  color: #363636;
}

.recommended__list .recommended__item-text .recommended__item-khoaHoc {
  font-size: 1.4rem;
  color: #363636;
}

.recommended__list .recommended__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommended__list .recommended__item-img img {
  width: 40px;
}

.popular__courses-heading {
  font-size: 4rem;
  margin-bottom: 40px;
}

.popular__courses .popular__card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 28px;
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.popular__courses .popular__card:hover {
  top: -4px;
}

.popular__courses .popular__card img {
  width: 100%;
}

.popular__courses .popular__card-content .popular__card-heading {
  font-size: 18px;
  color: #363636;
  margin: 20px 0;
  padding: 0 12px;
  min-height: 56px;
}

.popular__courses .popular__card-content .popular__card-heading:hover {
  color: #FAD20B;
}

.popular__courses .popular__card-content .popular__card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__courses .popular__card-content .popular__card-footer .popular__card-count-text {
  font-size: 1.4rem;
  color: #67758D;
}

.popular__courses .popular__card-content .popular__card-footer .popular__card-count-icon {
  color: #FAD20B;
  margin-right: 4px;
}

.popular__courses .popular__card-content .popular__card-footer .popular__card-count-icon svg {
  width: 14px;
}

.newest {
  background: #f9f9f9;
  padding: 60px 0;
}

.newest__heading {
  font-size: 4rem;
  margin-bottom: 40px;
}

.newest__carousel .newest__card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.newest__carousel .newest__card img {
  width: 100%;
}

.newest__carousel .newest__card-content .newest__card-heading {
  font-size: 18px;
  color: #363636;
  margin: 20px 0;
  padding: 0 12px;
  min-height: 56px;
}

.newest__carousel .newest__card-content .newest__card-heading:hover {
  color: #FAD20B;
}

.newest__carousel .newest__card-content .newest__card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newest__carousel .newest__card-content .newest__card-footer .newest__card-count-text {
  font-size: 1.4rem;
  color: #67758D;
}

.newest__carousel .newest__card-content .newest__card-footer .newest__card-count-icon {
  color: #FAD20B;
  margin-right: 4px;
}

.newest__carousel .newest__card-content .newest__card-footer .newest__card-count-icon svg {
  width: 14px;
}

.timeline__right {
  padding: 100px 260px 100px 100px;
  position: relative;
}

.timeline__right-heading {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.timeline__right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 42px;
  position: relative;
}

.timeline__right-item .timeline__right-out {
  display: inline-block;
  padding: 2px;
  border: 4px solid #FAD20B;
  border-radius: 50%;
}

.timeline__right-item .timeline__right-out .timeline__right-num {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  background: #FAD20B;
  border-radius: 50%;
}

.timeline__right-item .timeline__right-content {
  margin-left: 24px;
}

.timeline__right-item .timeline__right-content-heading {
  font-size: 2.2rem;
}

.timeline__right-item .timeline__right-content-text {
  font-size: 1.6rem;
  margin: 12px 0;
}

.timeline__right-item .timeline__tail {
  position: absolute;
  top: 50px;
  left: 20px;
}

.timeline__right .timeline__right-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.popularRoadmaps {
  padding: 60px 0;
  background: #EAF0F7;
}

.popularRoadmaps__content .popularRoadmaps__heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.popularRoadmaps__content .popularRoadmaps__list .popularRoadmaps__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popularRoadmaps__content .popularRoadmaps__list .popularRoadmaps__item-img {
  width: 100%;
  border-radius: 8px;
}

.popularRoadmaps__content .popularRoadmaps__list .popularRoadmaps__item-text {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.popularRoadmaps__content .popularRoadmaps__list .popularRoadmaps__item-text:hover {
  color: #FAD20B;
}

.learningPath {
  padding: 90px 0;
  text-align: center;
  position: relative;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.learningPath__logo {
  height: 40px;
}

.learningPath__heading {
  font-size: 4rem;
  margin-top: 50px;
}

.learningPath__text {
  margin: 15px 0 40px 0;
  font-size: 1.6rem;
}

.learningPath__img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.courses__list {
  background: #f9f9f9;
}

.slide__courses {
  background: url("../../assets/img/banner-course-detail.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.slide__courses .breadcrumb {
  border-bottom: 1px solid #2D4882;
}

.slide__courses-breadcrumb .breadcrumb-item {
  font-size: 1.5rem;
  color: #EAF0F7;
  padding: 12px 0;
  display: inline-block;
}

.slide__courses-breadcrumb .breadcrumb-link {
  font-size: 1.5rem;
  color: #EAF0F7;
}

.slide__courses .slide__courses-heading {
  font-size: 48px;
  color: #fff;
  font-weight: 800;
  padding: 30px 0;
}

.courses__list-left {
  border: 1px solid #dee5ef;
  padding: 24px 0;
  border-radius: 8px;
  background: #fff;
}

.courses__left-search {
  position: relative;
  padding: 0 24px;
}

.courses__left-search .courses__left-input {
  height: 40px;
  border-radius: 30px;
  background-color: #EAF0F7;
  border: none;
  outline: 0;
  padding: 0 20px;
  font-size: 1.4rem;
  width: 100%;
}

.courses__left-search .courses__left-icon {
  position: absolute;
  right: 35px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(27, 27, 27, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.courses__left-search-suggest {
  display: block;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #EAF0F7;
}

.courses__left-search-suggest .search__suggest-list .search__suggest-item {
  display: inline-block;
  margin: 4px;
}

.courses__left-search-suggest .search__suggest-list .search__suggest-item .search__suggest-link {
  font-size: 1.3rem;
  color: #67758D;
  background: #F6F9FC;
  border: 1px solid #EAF0F7;
  padding: 1px 4px;
}

.courses__list-left-category {
  padding: 24px;
}

.courses__list-left-category .courses__list-heading {
  font-size: 1.8rem;
  padding-bottom: 16px;
  border-bottom: 1px solid #EAF0F7;
}

.courses__list-left-category .right__nav {
  margin-top: 20px;
}

.courses__list-left-category .right__nav .right__nav-list .right__nav-item {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.courses__list-left-category .right__nav .right__nav-list .right__nav-item .right__nav-input {
  width: 20px;
  height: 20px;
  color: #67758D;
}

.courses__list-left-category .right__nav .right__nav-list .right__nav-item .right__nav-label {
  font-size: 14px;
  color: #67758D;
  margin-left: 8px;
}

.courses__list-right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
  color: #67758D;
}

.courses__list-right-header .courses__list-heading span {
  font-weight: 600;
}

.courses__list-right-header .courses__list-select {
  border: 1px solid #EAF0F7;
  height: 36px;
  padding: 0px 8px;
  border-radius: 20px;
  outline: none;
  color: #67758D;
}

.courses__list-right-header .courses__list-select .courses__list-option {
  padding: 10px 0;
}

.courses__list-item {
  background-color: #fff;
  margin-top: 24px;
}

.courses__list-item-img img {
  width: 100%;
}

.courses__list-item-content {
  padding: 24px;
}

.courses__list-item-heading {
  color: #363636;
  font-size: 1.8rem;
  margin: 12px 0;
}

.statistic__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistic__list .statistic__item {
  font-size: 1.3rem;
  color: #FAD20B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistic__list .statistic__item span {
  color: #363636;
  margin-left: 4px;
}

.button-primary {
  color: #363636;
  background-color: #FAD20B;
  height: 48px;
  font-size: 1.5rem;
  padding: 0 24px;
  line-height: 48px;
  border-radius: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-primary:hover {
  background: #FFE772;
}

.button-basic {
  color: #fff;
  background: #41A5F9;
  font-size: 1.2rem;
  width: 120px;
  height: 24px;
  border-radius: 6px;
  line-height: 24px;
  text-align: center;
  border: none;
  outline: none;
  font-weight: 600;
}

.button-advanced {
  color: #fff;
  background: #FF7272;
  font-size: 1.2rem;
  width: 120px;
  height: 24px;
  border-radius: 6px;
  line-height: 24px;
  text-align: center;
  border: none;
  outline: none;
  font-weight: 600;
}

.button-intermediate {
  color: #fff;
  background: #00C48C;
  font-size: 1.2rem;
  width: 120px;
  height: 24px;
  border-radius: 6px;
  line-height: 24px;
  text-align: center;
  border: none;
  outline: none;
  font-weight: 600;
}

.slide {
  background: url("../../assets/img/bg-introduction-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__content-left {
  margin-top: 230px;
  padding-right: 150px;
}

.slide__content-left .slide__content-heading {
  color: #fff;
  font-size: 6rem;
  margin: 0;
  line-height: 7rem;
  font-weight: 800;
}

.slide__content-left .slide__content-text {
  color: #EAF0F7;
  font-size: 1.6rem;
  margin: 40px 0;
}

.slide__content-img {
  margin-top: 150px;
  margin-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */