#header{
    box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.1);
}
.header{
    height: 65px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__nav{
        display: flex;
        align-items: center;
        &-logo{
            margin-right: 8px;
            img{
                height: 40px;
            }
            
        }
        &-list{
            .header__nav-item{
                display: inline;
                padding: 24px 16px;
                .header__nav-link{
                    font-size: 1.5rem;
                    color: $color-text;
                    font-weight: 600;
                    top:0;
                    position: relative;
                    &:hover{
                        top:-1px;
                    }
                }
            }
            .header__nav-active{
                border-top:4px solid $color-primary
            }
        }
    }
    &__right{
        display: flex;
        align-items: center;
        &-search{
            position: relative;
            .header__right-input{
                width: 300px;
                height: 40px;
                border-radius: 30px;
                background-color: $color-gray;
                border:none;
                outline: 0;
                padding: 0 20px;
                font-size: 1.4rem;
                position: relative;
                z-index: 2;
                &:focus ~ .header__right-search-suggest{
                    display: block;
                }
            }
            .header__right-icon{
                position: absolute;
                right: 16px;
                top:50%;
                transform: translateY(-50%);
                color: rgba(27, 27, 27, 0.45);
                display: flex;
                z-index: 3;
            }
            .header__right-search-suggest{
                display: none;
                position: absolute;
                width: 100%;
                background: $color-white;
                padding: 20px;
                top:26px;
                z-index: 1;
                box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.3);
                .search__suggest-heading{
                    font-size: 1.4rem;
                    margin: 4px 0;
                    color: $color-gray-2;
                }
                .search__suggest-list{

                    .search__suggest-item{
                        display: inline-block;
                        margin: 4px;
                        .search__suggest-link{
                            font-size: 1.3rem;
                            color: $color-gray-2;
                            background: #F6F9FC;
                            border: 1px solid $color-gray;
                            padding: 1px 4px;
                        }
                    }
                }
            }
        }
        &-lang{
            display: flex;
            align-items: center;
            width: 100px;
            height: 32px;
            padding: 0 8px;
            margin: 0 12px 0 20px;
            border-radius: 5px;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
            justify-content: space-around;
            .header__right-iconLang{
                border-radius: 50%;
                width:20px;
            }
            .header__right-langText{
                font-size: 1.5rem;
                color: rgba($color: #000000, $alpha: 0.5);
                margin: 0 12px;
            }
            .header__right-langIcon{
                display: flex;
                color: rgba($color: #000000, $alpha: 0.5);
            }
            
        }
        &-login{
            font-size: 1.5rem;
            margin-right: 12px;
            font-weight: 600;
            color: $color-text;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}