.timeline{
    &__left{

    }
    &__right{
        padding: 100px 260px 100px 100px;
        position: relative;
        &-heading{
            font-size: 4rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 24px;
        }
        &-item{
            display: flex;
            align-items:self-start;
            margin-bottom: 42px;
            position: relative;
            .timeline__right-out{
                display: inline-block;
                padding: 2px;
                border: 4px solid $color-primary;
                border-radius: 50%;
                .timeline__right-num{
                    font-size: 2rem;
                    font-weight: 600;
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    background:$color-primary;
                    border-radius: 50%;
                }
            }
            .timeline__right-content{
                margin-left: 24px;
                &-heading{
                    font-size: 2.2rem;
                }
                &-text{
                    font-size: 1.6rem;
                    margin: 12px 0;
                }
            }
            .timeline__tail{
                position: absolute;
                top: 50px;
                left: 20px;
            }
        }
        .timeline__right-img{
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
    }
}