// Color
$color-text:#363636;
$color-bg: #f2f2f2;
$color-bg-2: #f9f9f9;
$color-white: #fff;
$color-primary: #FAD20B;
$color-primary-hover:#FFE772;
$color-basic: #41A5F9;
$color-intermediate: #00C48C;
$color-advanced:#FF7272;
$color-gray: #EAF0F7;
$color-gray-2:#67758D;
$color-gray-3:#dee5ef;